#main{
    background-color: white;
    border: 10px solid rgba(233, 233, 240, 0.432);
    width: 1000px;
    margin: auto;
    font-family: arial;
    

}
#main img{
    margin:3% 37%;
 width: 25%;
align-self: auto;
}
#main h1{
    color:orange;
    text-align: center;
    font-family: arial;
    font-size: 125%;
    border:1px solid  rgba(154, 154, 156, 0.438);                              
    margin-top:2%;
    margin-bottom: 2%;
    margin-right: 35%; 
    margin-left: 38%;
    padding-top: 1%;
    padding-bottom:1% ;
    border-radius: 5%;
}
ul{
    line-height: 200%;
    font-size: 80%;;
}
#list{
    border:1px solid rgba(154, 154, 156, 0.151);
    padding:1px;
}
#li{
    border:1px solid rgba(154, 154, 156, 0.082);
    padding:1px; 
    margin:0 2%;
}
button{
    background-color:rgb(2,135,54);
    color:white;
    margin:2% 35%;
    border:1px solid rgb(2,135,54);
    padding:1% 6%;
    font-weight: 500;
    font-size: 120%;
}